{%- capture line_item_options -%}
    {%- liquid
        assign show_deliverytime = false
        if origin == 'cartpage'
            assign show_deliverytime = true
        elsif orign == 'cartpage' and bundle
            assign show_deliverytime = true
        endif
        if line_item.item_components.size > 0
            assign show_deliverytime = false
        endif

        assign slash = false
        assign show_line_item_options = false
        if line_item.unit_price_measurement != blank or line_item.selling_plan_allocation != blank or line_item.properties.size > 0 or line_item.line_level_discount_allocations != blank
            assign show_line_item_options = true
        elsif line_item.options_with_values and line_item.product.has_only_default_variant == false
            assign show_line_item_options = true
        elsif show_deliverytime
            assign show_line_item_options = true
        endif
    -%}
    {%- if origin == 'cartpage' or bundle -%}<span>{%- endif -%}
        {%- if show_line_item_options -%}
            {%- if origin == 'cartpage' or bundle -%}<span class="{% if origin == 'cartpanel' and bundle %}size-12{% endif %}">{%- else -%}<{% if enable_variants %}span{% else %}p{% endif %} class="{% if list == false %}size-12{% endif %}">{%- endif -%}
                {% if line_item.unit_price_measurement %}
                    {%- assign slash = true -%}
                    {%- capture unit_price_base_unit -%}
                        {%- if line_item.unit_price_measurement -%}
                            {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                                {{- line_item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ line_item.unit_price_measurement.reference_unit }}
                        {%- endif -%}
                    {%- endcapture -%}
                    {{ 'product.unit_price_label' | t }}&nbsp;{% if show_price %}{{ line_item.unit_price | money }}{% else %}{{ 0000 | money | money | replace: '0', '-' }}{% endif %}&nbsp;{{ 'product.unit_price_separator' | t }} {{ unit_price_base_unit }}
                {% endif %}
                {%- unless line_item.product.has_only_default_variant -%}
                    {%- if slash -%}&nbsp;/&nbsp;{%- else -%}{%- assign slash = true -%}{%- endif -%}
                    {%- for option in line_item.options_with_values -%}
                        {{ option.value }}
                        {% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
                    {%- endfor -%}
                {% endunless -%}
                {%- if line_item.selling_plan_allocation -%}
                    {%- if slash -%}&nbsp;/&nbsp;{%- else -%}{%- assign slash = true -%}{%- endif -%}
                    {{ line_item.selling_plan_allocation.selling_plan.name }}
                {%- endif -%}
                {% if line_item.properties.size > 0 and slash -%}&nbsp;/&nbsp;{%- endif -%}
                {%- for property in line_item.properties -%}
                    {%- if property.first.first == '_' or property.last == blank -%}{%- continue -%}{%- endif -%}
                    {{ property.first }}:&nbsp;{% if property.last contains '/uploads/' %}<a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>{% else %}{{ property.last }}{% endif %}
                    {% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
                {%- endfor -%}
                {% if origin == 'cartpanel' and list %}
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <br><span class="overlay-gray"><i aria-hidden="true" class="icon-label"></i> <span class="text-uppercase">{{ discount_allocation.discount_application.title }}&nbsp;(-{{ discount_allocation.amount | money }})</span></span>
                    {%- endfor -%}
               {% endif %}
            {%- if origin == 'cartpage' -%}</span>{%- else -%}</{% if enable_variants %}span{% else %}p{% endif %}>{%- endif -%}
        {%- endif -%}
        {%- if show_deliverytime %}
            {%- render 'product-deliverytime',
                product: line_item.product,
                current_variant: line_item.variant,
                container: "span",
                extra_class: "size-12",
                extra_element: '<br>'
            -%}
        {%- endif -%}
        {% if origin == 'cartpage' or list == false %}
            {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                {% if origin == 'cartpage' %}<br>{% endif %}<span class="overlay-gray{% if origin == 'cartpanel' %} size-12{% endif %}"><i aria-hidden="true" class="icon-label"></i> <span class="text-uppercase">{{ discount_allocation.discount_application.title }}&nbsp;(-{{ discount_allocation.amount | money }})</span></span>
            {%- endfor -%}
        {% endif %}
    {%- if origin == 'cartpage' or bundle -%}</span>{%- endif -%}
{%- endcapture -%}
{{ line_item_options }}