{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign custom_label_namespace = settings.product_custom_label | split: '.' | first
  assign custom_label_key = settings.product_custom_label | split: '.' | last
  assign custom_label = product.metafields[custom_label_namespace][custom_label_key]
  assign total_stock = 0

  if origin == 'productitem'
    for variant in product.variants
      if variant.matched and variant.inventory_quantity > 0
        assign total_stock = total_stock | plus: variant.inventory_quantity
      endif
    endfor
  endif
  if total_stock == 0
    assign total_stock = current_variant.inventory_quantity
  endif

  assign show_price = true
  if settings.login_for_prices and customer == nil
    assign show_price = false
  endif

  if current_variant.compare_at_price > current_variant.price and settings.show_sale_label and show_price
    assign show_sale_label = true
  endif

  assign show_preorder_center = false
  assign show_outofstock_center = false
-%}

<span class="s1lb label plain align-stretch">
  {%- if show_sale_label -%}
    <span class="overlay-sale">{{ 'product.sale_tag' | t }}</span>
  {%- endif -%}
  {%- if settings.show_stock_label and total_stock > 0 and total_stock <= settings.stock_label_qty -%}
    <span>{{ 'product.stock_tag' | t }}</span>
  {%- endif -%}
  {%- if settings.show_out_of_stock_label and total_stock <= 0 and current_variant.available == false -%}
    {% if origin == 'productitem' and settings.productcards_label_center %}
      {% assign show_outofstock_center = true %}
    {% else %}
      <span>{{ 'product.not_in_stock_tag' | t }}</span>
    {% endif %}
  {%- endif -%}
  {%- if total_stock <= 0 and current_variant.inventory_management != nil and current_variant.inventory_policy == 'continue' and current_variant.available and current_variant.inventory_quantity <= 0 and settings.preorder -%}
    {% if origin == 'productitem' and settings.productcards_label_center %}
      {% assign show_preorder_center = true %}
      {% assign show_outofstock_center = false %}
    {% else %}
      <span class="overlay-preorder">{{ 'product.preorder_tag' | t }}</span>
    {% endif %}
  {%- endif -%}
  {%- if custom_label != blank -%}
    <span>{{ custom_label }}</span>
  {%- endif %}
</span>
{% if show_preorder_center %}
  <span class="s1lb align-middle align-stretch"><span class="overlay-gray wide">{{ 'product.preorder_tag' | t }}</span></span>
{% endif %}
{% if show_outofstock_center %}
  <span class="s1lb align-middle align-stretch"><span class="overlay-gray wide">{{ 'product.not_in_stock_tag' | t }}</span></span>
{% endif %}